.youzer .bp-avatar p {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
}

.youzer #bp-delete-cover-image,
.youzer #bp-delete-avatar {
  background-color: #ff5e3a;
  background-color: var(--primary-accent-color);
}

.youzer #bp-browse-button:hover {
  opacity: 1;
}

.youzer #drag-drop-area {
  border: 2px dashed #bbc0d5;
}

.youzer .bp-avatar-nav ul {
  border-bottom: 1px solid #e6ecf5;
}

.youzer .avatar-nav-items li a {
  color: #515365;
  color: var(--heading-font-color);
}

.youzer .bp-avatar-nav ul.avatar-nav-items li.current {
  border: 1px solid #e6ecf5;
  border-bottom: #fff;
  bottom: -1px;
  position: relative;
  z-index: 5;
  background-color: #fff;
}

.youzer .bp-avatar-nav li.current a {
  color: #ff5e3a;
  color: var(--primary-accent-color);
  font-weight: 700;
}

.youzer .bp-avatar-status p.success,
.youzer .bp-cover-image-status p.success {
  background-color: #1ed760;
}

.youzer .bp-avatar .warning,
.youzer .bp-cover-image .warning {
  color: #515365;
  color: var(--heading-font-color);
}

#buddypress.youzer div.bp-avatar-status p.warning,
#buddypress.youzer div.bp-cover-image-status p.warning,
body.youzer div.bp-avatar-status p.warning,
.youzer div.bp-cover-image-status p.warning {
  color: #515365;
  color: var(--heading-font-color);
  font-size: 13px;
  padding: 12px 25px;
  background-color: #f6f6f6;
  border-left: 5px solid #38a9ff;
  border-left: 5px solid var(--secondary-accent-color);
}

.rtl #buddypress.youzer div.bp-avatar-status p.warning,
.rtl #buddypress.youzer div.bp-cover-image-status p.warning,
.rtl body.youzer div.bp-avatar-status p.warning,
.rtl .youzer div.bp-cover-image-status p.warning {
  border-left: none;
  border-right: 5px solid #38a9ff;
  border-right: 5px solid var(--secondary-accent-color);
}

.youzer #avatar-crop-actions .button {
  background-color: #ff5e3a;
  background-color: var(--primary-accent-color);
  opacity: .85;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.youzer #avatar-crop-actions .button:hover {
  opacity: 1;
}